{% extends 'base.html.twig' %}

{% block title %}
    Authors
{% endblock %}

{% block body %}
    <p>
        Tutaj beda autorzy
    </p>
    <div>
        {% for author in authors %}
            <div>{{ author.name }}</div>
        {% endfor %}
    </div>
{% endblock %}