{% extends 'base.html.twig' %}

{% block title %}
    {{ 'authors.title'|trans }}
{% endblock %}

{% block body %}
    <div>
        {% for author in authors %}
            <div>{{ author.name }}</div>
        {% endfor %}
    </div>
{% endblock %}