{% extends 'base.html.twig' %}

{% block title %}
    {{ 'categories.title'|trans }}
{% endblock %}

{% block body %}
    <div>
        {% for category in categories %}
            <div>{{ category.name }}</div>
        {% endfor %}
    </div>
{% endblock %}