{% extends 'base.html.twig' %}

{% block title %}
    {{ 'questions.title'|trans }}
{% endblock %}

{% block body %}
    <div class="p-2 list-group">
        {% for question in questions %}
            <div class="list-group-item">
                {{ question.title }}
            </div>
        {% endfor %}
    </div>
{% endblock %}