{% extends 'base.html.twig' %}

{% block title %}
    {{ 'questions.title'|trans }}
{% endblock %}

{% block body %}
    <div>
        {% for question in questions %}
            <div>{{ question.title }}</div>
        {% endfor %}
    </div>
{% endblock %}