{% extends 'base.html.twig' %}

{% block title %}
    Questions
{% endblock %}

{% block body %}
    <p>
       Tutaj beda pytania
    </p>
    <div>
        {% for question in questions %}
            <div>{{ question.title }}</div>
        {% endfor %}
    </div>
{% endblock %}